
.icon-location:before { content: '\e800'; } /* '' */
.icon-call:before { content: '\e801'; } /* '' */
.icon-direction:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e803'; } /* '' */
